In [69]:
import pandas as pd
import numpy as np
from pathlib import Path
PATH_CACHE = Path("../../data/algos_results.csv").resolve()
print(PATH_CACHE)

C:\Users\robin\Documents\Cours\Poly\Recherche\MaitriseClustering\data\algos_results.csv

In [70]:
df = pd.read_csv(PATH_CACHE)

In [76]:
df100 = df[df["num_points"] == 30]
df100 = df100[df100["init_type"] == "random"]
print(df100["num_clusters"].unique())
Lcluster_concat = []
for num_clusters in [4,8,16]:
    Linit_concat = []
    for ImprClass, iteration_order in list(zip(["CallbackBestImprovement", "CallbackFirstImprovement","CallbackFirstImprovement","CallbackFirstImprovement"], ["BACK","CURR", "BACK", "RANDOM"])):
        tmp_df = df100[df100["ImprClass"] == ImprClass]
        tmp_df = tmp_df[tmp_df["iteration_order"] == iteration_order].sort_values(by=["uuid_points_coords","uuid_points_assign"],axis=0)
        tmp_df = tmp_df[tmp_df["num_clusters"] == num_clusters]
        tmp_df = tmp_df.drop(["num_points","ImprClass","init_type","iteration_order","num_clusters","uuid_points_coords","uuid_points_assign"],axis=1)
        tmp_df.reset_index(drop=True, inplace=True)
        Linit_concat.append(tmp_df)
    
    Lcluster_concat.append(pd.concat(Linit_concat,axis=1, keys=["BI_BACK", "FI_CURR", "FI_BACK", "FI_RANDOM"]))
df100_cluster = pd.concat(Lcluster_concat, axis=1, keys=["4 clusters", "16 clusters", "64 clusters"])

[16  2  4  8]

In [77]:
pd.set_option('display.max_rows', None, 'display.max_columns', None)
df100_cluster.head()

     4 clusters                                                             \
        BI_BACK                                       FI_CURR
      init_cost     end_cost num_iter      time     init_cost     end_cost
0  40097.546696  9167.001731       20  0.260103  40097.546696  9167.007351
1  37089.402264  9167.010974       19  0.252442  37089.402264  9167.024675
2  40897.916513  9167.003379       22  0.327404  40897.916513  9167.004525
3  40571.475380  9167.004029       30  0.413171  40571.475380  9167.007942
4  38344.585587  9167.007054       20  0.265200  38344.585587  9167.015480

                                                                    \
                           FI_BACK
  num_iter      time     init_cost     end_cost num_iter      time
0       49  0.324599  40097.546696  9167.008355       47  0.286041
1       38  0.301022  37089.402264  9167.018406       39  0.242522
2       48  0.290347  40897.916513  9167.004757       48  0.235844
3       32  0.250364  40571.475380  9167.005523       42  0.254961
4       47  0.302709  38344.585587  9167.010515       48  0.271618

                                                  16 clusters               \
      FI_RANDOM                                       BI_BACK
      init_cost     end_cost num_iter      time     init_cost     end_cost
0  40097.546696  9167.007024       49  0.299007  34414.077850  3832.979133
1  37089.402264  9167.019092       37  0.304863  34623.319305  3981.012347
2  40897.916513  9167.004967       54  0.271584  31565.288780  3981.013585
3  40571.475380  9167.008812       40  0.240259  38341.125988  3689.122458
4  38344.585587  9167.006863       61  0.404107  27451.255938  4175.034053

                                                                    \
                           FI_CURR
  num_iter      time     init_cost     end_cost num_iter      time
0       20  0.598919  34414.077850  3879.286460       66  0.703428
1       21  0.660799  34623.319305  3689.126290       85  1.082074
2       25  0.767413  31565.288780  3935.425371       61  0.893116
3       30  0.877330  38341.125988  4014.481455       85  0.842415
4       23  0.833612  27451.255938  3832.977142       84  1.054528

                                                                            \
        FI_BACK                                     FI_RANDOM
      init_cost     end_cost num_iter      time     init_cost     end_cost
0  34414.077850  3981.015919       67  0.653481  34414.077850  3689.120662
1  34623.319305  3935.425057       59  0.718822  34623.319305  3689.130169
2  31565.288780  3935.425603       64  0.868081  31565.288780  3935.425960
3  38341.125988  4014.481443       84  0.717571  38341.125988  4221.340392
4  27451.255938  4175.032864       70  0.667279  27451.255938  4175.030677

                       64 clusters                                  \
                           BI_BACK
  num_iter      time     init_cost     end_cost num_iter      time
0       79  0.864773  20559.609279   923.175898       22  1.426443
1       81  1.037687  24893.924184  1078.791817       15  0.999712
2       64  0.874411  26710.114261   923.176934       19  1.202041
3       81  0.753123  32203.803377   817.215924       22  1.442100
4       80  0.691951  20930.215691  1037.230289       23  1.492933

                                                                            \
        FI_CURR                                       FI_BACK
      init_cost     end_cost num_iter      time     init_cost     end_cost
0  20559.609279  1046.603766       70  1.485944  20559.609279  1381.344913
1  24893.924184  1427.099858       71  1.548957  24893.924184  1137.487505
2  26710.114261  1435.782226       85  1.850391  26710.114261  1435.537517
3  32203.803377  1435.187360       63  1.315208  32203.803377  1423.497875
4  20930.215691  1292.107854       72  1.642711  20930.215691  1292.108170


                         FI_RANDOM
  num_iter      time     init_cost     end_cost num_iter      time
0       49  1.122414  20559.609279  1350.289739       54  1.078569
1       63  1.001330  24893.924184  1296.233812       59  1.245785
2       79  1.687244  26710.114261  1346.165285       62  1.202600
3       88  1.538624  32203.803377  1545.517678       72  1.420696
4       72  1.421183  20930.215691  1287.849324       67  1.406233

In [78]:
pd.DataFrame(df100_cluster.mean(axis=0))

                                            0
4 clusters  BI_BACK   init_cost  39770.117747
                      end_cost    9197.812228
                      num_iter      21.410000
                      time           0.309436
            FI_CURR   init_cost  39770.117747
                      end_cost    9167.008379
                      num_iter      42.339000
                      time           0.296689
            FI_BACK   init_cost  39770.117747
                      end_cost    9167.008257
                      num_iter      42.160000
                      time           0.251640
            FI_RANDOM init_cost  39770.117747
                      end_cost    9173.137468
                      num_iter      42.472000
                      time           0.264844
16 clusters BI_BACK   init_cost  33825.747871
                      end_cost    4025.843851
                      num_iter      22.835000
                      time           0.735441
            FI_CURR   init_cost  33825.747871
                      end_cost    4047.063981
                      num_iter      76.722000
                      time           0.983858
            FI_BACK   init_cost  33825.747871
                      end_cost    4069.519158
                      num_iter      76.905000
                      time           0.853858
            FI_RANDOM init_cost  33825.747871
                      end_cost    4042.562812
                      num_iter      76.991000
                      time           0.867598
64 clusters BI_BACK   init_cost  24747.386534
                      end_cost    1046.256509
                      num_iter      19.058000
                      time           1.293837
            FI_CURR   init_cost  24747.386534
                      end_cost    1204.457798
                      num_iter      67.008000
                      time           1.549130
            FI_BACK   init_cost  24747.386534
                      end_cost    1243.576439
                      num_iter      68.202000
                      time           1.385921
            FI_RANDOM init_cost  24747.386534
                      end_cost    1200.329973
                      num_iter      66.946000
                      time           1.354723